/* 1. ОТСТУПЫ */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* ШРИФТЫ */
@font-face { font-family: 'Enthalpy298'; src: url('fonts/enthalpy298regular.woff'); }
@font-face { font-family: 'BebasNeue'; src: url('fonts/Bebas-Neue-Pro-SemiExpanded-Book.woff'); }

