@font-face {
    font-family: 'Enthalpy298';
    src: url("fonts/enthalpy298regular.woff") format("woff");
}

h1 {
    font-family: 'Enthalpy298', 'Helvetica', sans-serif;  
    font-size: 4rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}

body {
    font-family: Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.hero-image {
    width: 100vw;
    height: 35vh;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0; 
    padding: 0;
    position: relative; 
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; 
}
