/* 1. ОТСТУПЫ */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* ШРИФТЫ */
@font-face {
    font-family: 'Enthalpy298';
    src: url('fonts/enthalpy298regular.woff');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/Bebas-Neue-Pro-SemiExpanded-Book.woff');
}

/* 1. БЛОК 1 */
.block1 { 
    height: 33vh; 
    position: relative; 
    overflow: hidden; 
}
.hero-image { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
h1 { 
    position: absolute; 
    top: 20%; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: center; 
    text-transform: uppercase; 
    line-height: 1.2;
    color: white; 
}
.authors {
    font-family: 'BebasNeue', sans-serif; 
    font-size: 0,8rem; 
    position: absolute;
    width: 100%;  /* ПО ВСЕЙ КАРТИНКЕ */
    display: flex; 
    justify-content: space-between;  /* К КРАЯМ экрана */
    padding: 0 5%;  /* ОТСТУП от краёв */
    top: 15%;  /* ВЫШЕ заголовка */
    white-space: nowrap; 
    overflow: hidden; 
}
.title { 
    font-family: 'Enthalpy298', sans-serif; 
    font-size: 4rem;  
    display: block; 
}
