html, body { margin: 0;  height: 100% }
body { padding: 10px 3px; box-sizing: border-box; background-color: #c1c1c1; }

/* ШРИФТЫ */
@font-face { font-family: 'comic'; src: url('comic.woff'); }

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;}
.link {
    width: 100%;
    margin: 15px auto 15px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.link a {
    font-family: 'comic', sans-serif;
    font-size: 0.8rem;
    color: #26495d;
    text-decoration: none;}
