html, body { margin: 0;  height: 100% }
body { padding: 6px; box-sizing: border-box; background-color: #c1c1c1;}

/* ШРИФТЫ */
@font-face { font-family: 'Enthalpy298'; src: url('enthalpy298regular.woff'); }

.container {
    height: calc(100vh - 12px);
    display: flex;
    flex-direction: column;}

/* БЛОК 1 */
.about1 {
    width: 100%;
    display: flex;
    justify-content: space-between;}
.hero-image1, .hero-image2 { 
    width: 49%;
    display: block;
    height: auto;}

/* БЛОК 2 */
.about2 {
    flex: 1 1 auto;
    display: grid;
    padding: 6px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;}
.about2 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Enthalpy298', sans-serif;
    font-size: 3rem;
    color: #09131f;
    text-align: center;}
.about2 a {
    text-decoration: none;
    color: #09131f;}
.about2 .start {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Enthalpy298', sans-serif;
    font-size: 1rem;
    color: #de8f28;
    text-align: center;}
.about2 .start a {
    text-decoration: none;
    color: #de8f28;}

/* БЛОК 3 */
.about3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;}
.hero-image3, .hero-image4, .hero-image5 { 
    width: 32%;
    height: auto;
    object-fit: contain;
    display: block;}
