/* 1. ОТСТУПЫ */
* { margin: 0; padding: 0; box-sizing: border-box; }
/* ШРИФТЫ */
@font-face { font-family: 'Enthalpy298'; src: url('front/enthalpy298regular.woff'); }
.hero-image1, .hero-image2 {
    width: 100%; height: 50vh; object-fit: cover;}
.about1 { position: relative; }
