/* 1. ОТСТУПЫ */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* ШРИФТЫ */
@font-face { font-family: 'Enthalpy298'; src: url('enthalpy298regular.woff'); }

/* БЛОК 1 */
.about1 {
    display: flex;
    align-items: flex-start;
.hero-image1, .hero-image2{ 
    width: 50%; 
    height: 40vh; 
    object-fit: cover; 
    display: block;}
