html, body { margin: 0;  height: 100% }
body { padding: 6px; box-sizing: border-box; }

/* ШРИФТЫ */
@font-face { font-family: 'Enthalpy298'; src: url('enthalpy298regular.woff'); }

.screen {
    height: calc(100vh - 12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

/* БЛОК 1 */
.about1 {
    width: 100%;
    display: flex;
    justify-content: space-between;}
.hero-image1, .hero-image2 { 
    width: 49%;
    display: block;
    height: auto;}

/* БЛОК 2 */
.about2 {
    width: 100%;
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.about2 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Enthalpy298', sans-serif;
    text-align: center;}

/* БЛОК 3 */
.about3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;}
.hero-image3, .hero-image4, .hero-image5 { 
    width: 32%;
    height: auto;
    object-fit: contain;
    display: block;}
