html, body { margin: 0;  min-height: 100%; overflow-x: hidden;}
body { padding: 10px 5px; box-sizing: border-box; background-color: #c1c1c1; overflow-y: auto;}

/* ШРИФТЫ */
@font-face { font-family: 'TTNorms-Regular'; src: url('TTNorms-Regular.woff'); }
@font-face { font-family: 'TTNorms-Italic'; src: url('TTNorms-Italic.woff'); }
@font-face { font-family: 'TTNorms-BoldItalic'; src: url('TTNorms-BoldItalic.woff'); }
@font-face { font-family: 'comic'; src: url('comic.woff'); }

.container {
    display: flex;
    flex-direction: column;}
.hero-image-ch {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 30px 0;}
.hero-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;}
.text-block {
    padding: 0 10px;
    font-family: 'TTNorms-Regular', sans-serif;
    color: #09131f;
    font-size: 1rem;
    hyphens: auto;
    hyphenate-limit-chars: 8 4 4;
    text-align: justify;}
.text-block p {
    text-indent: 1.5em;
    margin: 0 0 1em 0;}
.text-block p.big-space {margin-top: 3em;}
.color {color: #680707;}
.bold {font-family: 'TTNorms-BoldItalic', sans-serif;}
.italics {font-family: 'TTNorms-Italic', sans-serif;}
.text-data {
    padding: 0 10px;
    font-family: 'comic', sans-serif;
    color: #09131f;
    font-size: 0.8rem;
    text-align: right;}
.link {
    width: 100%;
    margin: 10px auto 10px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.link a {
    font-family: 'comic', sans-serif;
    font-size: 0.8rem;
    color: #c52e03;
    text-decoration: none;}
