html, body { margin: 0;  min-height: 100%; overflow-x: hidden;}
body { padding: 10px 5px; box-sizing: border-box; background-color: #c1c1c1; overflow-y: auto;}

/* ШРИФТЫ */
@font-face { font-family: 'TTNorms-Regular'; src: url('TTNorms-Regular.woff'); }
@font-face { font-family: 'TTNorms-Italic'; src: url('TTNorms-Italic.woff'); }
@font-face { font-family: 'TTNorms-BoldItalic'; src: url('TTNorms-BoldItalic.woff'); }
@font-face { font-family: 'comic'; src: url('comic.woff'); }
